<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="Currencies as ccy" style="margin: 1px">

	<div style="max-width:300px; min-width:300px; margin: 1px;">


	    <h1>Kursy NBP:</h1>
		
		<form>	
			<select ng-model="ccy.code">
				<option ng-repeat="code in ccy.codeList">{{code}}</option>
			</select> 
			<input type="text" ng-model="ccy.code" placeholder="ccy code"></input>
			<button ng-click="ccy.refreshData('a')" ng-disabled="!ccy.isValid()">Refresh</button>
		</form>
		<p/>

		<div ng-hide="ccy.currency==null">
			MID:
			<div ng-style="{'font-weight': 'bold', 'font-size': '22px'}">{{ccy.mid}}</div>
			<div>{{ccy.currency}}</div>
			<div>{{ccy.date}}</div>

			<p>

			<form>
				Ostatnie  
				<select ng-model="ccy.historyRatesCount">
					<option ng-click="ccy.showHistory()">5</option>
					<option ng-click="ccy.showHistory()">10</option>
					<option ng-click="ccy.showHistory()">15</option>
					<option ng-click="ccy.showHistory()">20</option>
					<option ng-click="ccy.showHistory()">25</option>
					<option ng-click="ccy.showHistory()">30</option>
				</select>
				<button ng-click="ccy.showHistory()">Odśwież</button>
				notowań
			</form>
		</div>

		<p>

		<table ng-hide="ccy.historyRates==null">
			<tr>
				<th>Data</th>
				<th>Kurs (mid)</th>
			<tr ng-repeat="rate in ccy.historyRates">
				<td>{{rate.effectiveDate}}</td>
				<td align="right">{{rate.mid}}</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>