<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Kursy NBP</title>
</head>
<body ng-controller="Currencies as ccy" style="margin: 1px">

	<div style="max-width:300px; min-width:300px; margin: 1px;">


	    <h1>Kursy NBP</h1>
		
		<form>	
			<select ng-model="ccy.code">
				<option ng-repeat="code in ccy.codeList">{{code}}</option>
			</select> 
			<input type="text" ng-model="ccy.code" placeholder="kod waluty" style="max-width:100px; min-width:100px;"></input>
			<button ng-click="ccy.showCurrentRate()" ng-disabled="!ccy.isCurrentRefreshValid()">Odśwież</button>
		</form>
		<p/>

		<div ng-hide="ccy.currency==null">
			MID:
			<div ng-style="{'font-weight': 'bold', 'font-size': '22px'}">{{ccy.mid}}</div>
			<div>{{ccy.currency}}</div>
			<div>{{ccy.date}}</div>

			<p>
			<hr>

			<h3>Notowania historyczne</h3>

			<form>
				<input type="radio" ng-model="ccy.historySearchType" value="byDate"/>

				<label>Od </label>
				<input ng-model="ccy.fromDate" type="date" ng-disabled="ccy.historySearchType == 'byNumber'"/>
				<label>do </label>
				<input ng-model="ccy.toDate" type="date" ng-disabled="ccy.historySearchType == 'byNumber'"/>

				<input type="radio" ng-model="ccy.historySearchType" value="byNumber"/>
				<label>Ostatnie </label>
				<select ng-model="ccy.historyRatesCount"  ng-disabled="ccy.historySearchType == 'byDate'">
					<option>0</option>
					<option>5</option>
					<option>10</option>
					<option>15</option>
					<option>20</option>
					<option>25</option>
					<option>30</option>
				</select>
				<label>notowań</label>
				<br>
				<button ng-click="ccy.showHideHistoryRates()" ng-disabled="!ccy.isHistoryRefreshValid()">Odśwież</button>
			</form>
		</div>

		<p>

		<table ng-hide="ccy.historyRates==null">
			<tr>
				<th>Data</th>
				<th>Kurs (mid)</th>
			<tr ng-repeat="rate in ccy.historyRates">
				<td>{{rate.effectiveDate}}</td>
				<td align="right">{{rate.mid}}</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>	
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>